services:
  application:
    build:
      context: ./application
    ports:
      - "3000:3000"
    restart: always

  engine:
    build:
      context: ./engine
    ports:
      - "8080:8080"
    restart: always
